# Использование более широкого диапазона зеркал для ускорения загрузки
prefer-offline = true
offline = false
registry = https://registry.npmjs.org/
strict-ssl = false

# Установка таймаута для запросов к реестру
fetch-retry-mintimeout = 10000
fetch-retry-maxtimeout = 60000
fetch-retry-factor = 10

# Отключение логов
loglevel = error

# Время жизни кэша (в минутах)
cache-min = 120
